<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Calculator</title>
    <style>
        body {
            color: darkblue;
            background-color: aquamarine;
            font-family: Ubuntu;
            align-content: center;
            text-align: center;
            width: 90%;
            float: left;
            clear: left;
            margin-top: 20px;
        }


    </style>
</head>
<body>
<h2>500 INTERNAL SERVER ERROR</h2>
<p>Please fill required fields.</p>

</body>
</html>